# Chapter 6 HW

## 6-1

In [2]:
friend= {'first_name': 'Grayson', 'last_name': 'Pitt', 'age': 24, 'city': 'Wellesley'}

In [3]:
print(friend['first_name'])
print(friend['last_name'])
print(friend['age'])
print(friend['city'])

Grayson
Pitt
24
Wellesley

## 6-2

In [4]:
fav_num={'libby': 20, 'marissa': 16, 'chris': 32, 'romy': 64}

In [5]:
print(fav_num['libby'])

20

In [7]:
print('libby', fav_num['libby'])
print('marissa', fav_num['marissa'])
print('chris', fav_num['chris'])
print('romy', fav_num['romy'])

libby 20
marissa 16
chris 32
romy 64

## 6-3

In [8]:
glossary={'string': 'series of characters in quotes', 'variable': 'label for something', 'list': 'data structure', 'boolean': 'true or false', 'conditionals': 'if, else, elif'}

In [18]:
print('string',':', glossary['string'])
print('variable', ':', glossary['variable'])
print('list', ':', glossary['list'])
print('boolean', ':', glossary['boolean'])
print('conditionals', ':', glossary['conditionals'])

string : series of characters in quotes
variable : label for something
list : data structure
boolean : true or false
conditionals : if, else, elif

## 6-4

In [ ]:
for k, v in glossary.items():
    print('\nkey: ' + k)
    print('value: ' + v)

In [24]:
glossary['integer']= 'whole number'

In [25]:
glossary['floats']= 'decimal number'
glossary['for loop']= 'goes through dictionary'
glossary['function']= 'code that you can reuse'
glossary['import']= 'imports outside code to project'

In [26]:
for k, v in glossary.items():
    print('\nkey: ' + k)
    print('value: ' + v)

key: string
value: series of characters in quotes

key: variable
value: label for something

key: list
value: data structure

key: boolean
value: true or false

key: conditionals
value: if, else, elif

key: integer
value: whole number

key: floats
value: decimal number

key: for loop
value: goes through dictionary

key: function
value: code that you can reuse

key: import
value: imports outside code to project

## 6-5

In [27]:
rivers= {'nile': 'egypt', 'mississippi': 'mississippi', 'amazon': 'brazil'}

In [34]:
for k, v in rivers.items():
    print('The ' + k.title() + ' River runs through ' + v.title())

The Nile River runs through Egypt
The Mississippi River runs through Mississippi
The Amazon River runs through Brazil

## 6-7

In [39]:
friend_2={'first_name': 'Marissa', 'last_name': 'Mizzolo', 'age': 24, 'city': 'Needham'}
friend_3={'first_name': 'Amber', 'last_name': 'Walsh', 'age': 24, 'city': 'Hopkington'}

In [40]:
people=[friend, friend_2, friend_3]

In [41]:
for friend in people:
    print(friend)

{'first_name': 'Grayson', 'last_name': 'Pitt', 'age': 24, 'city': 'Wellesley'}
{'first_name': 'Marissa', 'last_name': 'Mizzolo', 'age': 24, 'city': 'Needham'}
{'first_name': 'Amber', 'last_name': 'Walsh', 'age': 24, 'city': 'Hopkington'}

## 6-8

In [42]:
nikita={'animal': 'dog', 'owner': 'donna'}
tia={'animal': 'cat', 'owner': 'ryan'}
ralph={'animal': 'horse', 'owner': 'kendall'}
sassy={'animal': 'rat', 'owner': 'maddie'}

In [43]:
pets=[nikita, tia, ralph, sassy]

In [44]:
for pet in pets:
    print(pet)

{'animal': 'dog', 'owner': 'donna'}
{'animal': 'cat', 'owner': 'ryan'}
{'animal': 'horse', 'owner': 'kendall'}
{'animal': 'rat', 'owner': 'maddie'}

## 6-9

In [52]:
favorite_places={'libby': ['room', 'barn'], 'gray':['library'], 'marissa': ['library', 'work']}

In [57]:
for name, place in favorite_places.items():
    print('\n' + name.title())
    for place in favorite_places:
        print('\t' + place.title())

Libby
	Libby
	Gray
	Marissa

Gray
	Libby
	Gray
	Marissa

Marissa
	Libby
	Gray
	Marissa

In [55]:
# can't get places to come up???

## 6-11

In [73]:
cities={'boston': {'location': 'USA', 'population': 'six hundred seventy five thousand', 'fact': 'home to the Bruins'}, 'new york city': {'location': 'USA', 'population': 'eight point 8 million', 'fact': 'home to the Yankees'}, 'chicago': {'location': 'USA', 'population': 'two point seventy five million', 'fact': 'home to the Cubs'}}

In [74]:
for city, city_info in cities.items():
    location=city_info['location']
    population=city_info['population']
    fact=city_info['fact']
    print(city.title() + ': ' + location + ", " + population + ", " + fact)

Boston: USA, six hundred seventy five thousand, home to the Bruins
New York City: USA, eight point 8 million, home to the Yankees
Chicago: USA, two point seventy five million, home to the Cubs

In [ ]:
# wouldn't work with integer in population